.bulletin-board-detail {
  .dx-texteditor.dx-editor-filled.dx-state-readonly, .dx-texteditor.dx-editor-filled.dx-state-readonly.dx-state-hover {
    background-color: white;
  }
  .dx-texteditor-input {
    background-color: white;
    font-size: 15px;
  }
}
