.bulletin-board {
  .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    font-weight: 500;
  }

  .dx-datagrid .dx-row > td {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
