.schedules {
  padding: 40px;

  .waiting {
    color: #3c96ce;
  }

  .running {
    color: #14c000;
  }

  .stopped {
    color: lightgray;
  }

  .error {
    color: red;
  }

  .spot {
    font-size: 18px;
  }
}
